html,
body {
  height: 100%;
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Raleway", sans-serif;
  text-align: center;
  background: linear-gradient(90deg, #00c9ff 0%, #92fe9d 100%);
  background-size: auto;
}
header {
  color: azure;
}
h1,
h3 {
  text-shadow: 1px 1px 4px black;
}
h3 {
  line-height: 30px;
}
#container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#ui {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
}
input {
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  width: 90%;
  text-align: center;
  border: 1px solid grey;
  border-radius: 5px;
  color: #80808052;
  height: 3rem;
}
input:focus {
  border: 1px solid red;
  color: black;
}
button {
  font-family: "Poppins", sans-serif;
  width: 250px;
  display: block;
  margin: 0 auto;
  font-size: 2rem;
  background-color: #00000070;
  color: aliceblue;
  border: 0;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.66);
}
button:active {
  transform: translateX(5px);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.66);
}
.hide {
  display: none;
  visibility: hidden;
}
.disabled {
  background-color: grey;
}
.enabled {
  background-color: #00000070;
}
.welkom {
  color: azure;
}
.aandag {
  background-color: palevioletred;
  border: 1px solid red;
}
.aandagTeks {
  color: red;
}
.shake-it {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}
